@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&family=Open+Sans:wght@300;400;500&family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  outline: none;
}

:root {
  --primary-color: hsl(199, 100%, 33%);
  --secondary-color: hsl(187, 85%, 43%);
  --gradient-color: linear-gradient(to right, #002677, #0066aa);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(201, 33%, 16%);
  --text-color: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --bodyColor: rgb(240, 240, 240);
  --inputColor: rgb(239, 239, 239);
  --cardBG: rgb(225, 225, 225);
}

@keyframes keyframes-blink {
  0% {
    opacity: 0.5;
    transform: scale(0.5) rotate(20deg);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes operation-button-icon-animate {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(1px);
  }
}
@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(50vw);
    opacity: 1;
  }
}
@keyframes fadeInOut {
  0% {
    transform: matrix3d() -10px;
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(200px);
  }
}
.loadingBar {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loadingBar::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
.loading {
  width: 78vw;
  height: 250px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.loading .loader {
  width: 63%;
  height: 250px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #ebebeb;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 100px;
  border: 1px solid rgba(0, 0, 0, 0.123);
}
.loading .controller-loading {
  width: 35%;
}
.loading .loader:after {
  content: "";
  position: absolute;
  width: 60%;
  height: 500px;
  top: 100px;
  left: 0;
  background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
  animation: gradient-animation_2 1.2s linear infinite;
}
.loading .loader .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.loading .loader .wrapper > div {
  background-color: #cacaca;
}
.loading .loader .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.loading .loader .button {
  display: inline-block;
  height: 32px;
  width: 75px;
}
.loading .loader .line-1 {
  position: absolute;
  top: 11px;
  left: 58px;
  height: 10px;
  width: 100px;
}
.loading .loader .line-2 {
  position: absolute;
  top: 34px;
  left: 58px;
  height: 10px;
  width: 150px;
}
.loading .loader .line-3 {
  position: absolute;
  top: 57px;
  left: 0px;
  height: 10px;
  width: 100%;
}
.loading .loader .line-4 {
  position: absolute;
  top: 80px;
  left: 0px;
  height: 10px;
  width: 92%;
}

.container-unavailable {
  width: 70vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  position: relative;
  top: 200px;
  border: 1px solid rgba(0, 0, 0, 0.123);
}
.container-unavailable .unavailable {
  font-size: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}
.container-unavailable button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  top: 20px;
  transition: all 0.4s ease-in-out;
}
.container-unavailable button:hover {
  background-color: var(--secondary-color);
}

.Container {
  width: 100vw;
  height: 100%;
  background-color: rgba(228, 228, 228, 0);
}
.Container .search-box-container {
  height: 78px;
  width: 100vw;
  position: relative;
  top: 64px;
  margin: 0 auto;
  background-color: #ffffff;
  border-top: 1px solid rgba(71, 71, 71, 0.233);
  border-bottom: 1px solid rgba(71, 71, 71, 0.233);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.Container .search-box-container #swapIcon {
  padding: 5px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: relative;
  right: 595px;
  top: -30px;
  background-color: var(--white-color);
  border: 1px solid rgba(71, 71, 71, 0.233);
  z-index: 101;
  color: rgb(0, 34, 187);
  transition: all 0.4s ease-in-out;
}
.Container .search-box-container #swapIcon:hover {
  transform: scale(1.1);
  transform: rotate(180deg);
}
.Container .search-box-container .search-inputs {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* Customizing the header */
  /* Customizing the current date */
  /* Customizing the today highlight 
  .react-datepicker__day--today {
      border: none;
      border-radius: 50px;
      background-color: #ffd28e;
  }*/
  /* Customizing the days of the week */
  /* Customizing Month and year title */
  /* Customizing the days of the month */
  /* Customizing hover state */
  /* Customizing the arrows */
}
.Container .search-box-container .search-inputs .locFirst,
.Container .search-box-container .search-inputs .locLast,
.Container .search-box-container .search-inputs .lastPass,
.Container .search-box-container .search-inputs .dateLast {
  border-left: 1px dotted rgba(71, 71, 71, 0.233);
}
.Container .search-box-container .search-inputs .lastPass {
  border-right: 1px dotted rgba(71, 71, 71, 0.233);
}
.Container .search-box-container .search-inputs .dropdownListSearch {
  position: absolute;
  top: 90px;
  width: 350px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  border-radius: 5px;
}
.Container .search-box-container .search-inputs .dropdownListSearch .dropdownListSearch::-webkit-scrollbar {
  width: 5px;
}
.Container .search-box-container .search-inputs .dropdownListSearch .dropdownListSearch::-webkit-scrollbar-track {
  background: transparent;
}
.Container .search-box-container .search-inputs .dropdownListSearch .dropdownListSearch::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.Container .search-box-container .search-inputs .dropdownListSearch .searchBox {
  position: sticky;
  top: 0;
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}
.Container .search-box-container .search-inputs .dropdownListSearch .searchBox #searchIcon {
  height: 24px;
  width: 24px;
  margin: 0px 10px;
  color: var(--primary-color);
}
.Container .search-box-container .search-inputs .dropdownListSearch .searchBox input {
  height: 100%;
  width: 100%;
  border: none;
  padding: 2px 0px;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(36, 36, 36);
  letter-spacing: 1px;
}
.Container .search-box-container .search-inputs .dropdownListSearch .searchBox input:focus {
  outline: none;
}
.Container .search-box-container .search-inputs .dropdownListSearch .dropdownItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}
.Container .search-box-container .search-inputs .dropdownListSearch .dropdownItem:hover {
  background-color: rgb(243, 243, 243);
}
.Container .search-box-container .search-inputs .dropdownListSearch .MetaLocation {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 88%;
  overflow-x: hidden;
}
.Container .search-box-container .search-inputs .dropdownListSearch .MetaLocation .airport-name {
  font-size: 0.65rem;
}
.Container .search-box-container .search-inputs .dataBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 15.9vw;
  height: 100%;
  padding: 5px 15px;
  cursor: pointer;
}
.Container .search-box-container .search-inputs .dataBox .constant-tag {
  font-size: calc(0.6rem + 0.1vw);
  font-weight: 500;
  color: rgba(75, 75, 75, 0.637);
  position: relative;
}
.Container .search-box-container .search-inputs .dataBox .constant-tag #dropdownArrow {
  height: 20px;
  width: 20px;
  position: absolute;
  top: -2px;
  color: var(--greyText);
}
.Container .search-box-container .search-inputs .dataBox .Middle {
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 25px;
  color: rgba(0, 56, 177, 0.863);
}
.Container .search-box-container .search-inputs .dataBox .Last {
  font-size: calc(1rem - 0.2vw);
  font-weight: 600;
  margin-top: -40px;
  color: rgb(80, 80, 80);
}
.Container .search-box-container .search-inputs .dataBox .airport-code {
  color: rgb(0, 34, 187);
  font-size: calc(1rem - 0.2vw);
}
.Container .search-box-container .search-inputs .react-datepicker__header {
  background-color: rgb(0, 91, 228);
  color: white;
}
.Container .search-box-container .search-inputs .react-datepicker__day--selected {
  background-color: #34bd68;
}
.Container .search-box-container .search-inputs .react-datepicker__day-name {
  color: rgba(231, 231, 231, 0.862745098);
}
.Container .search-box-container .search-inputs .react-datepicker__current-month,
.Container .search-box-container .search-inputs .react-datepicker__current-year {
  color: #e7e7e7;
}
.Container .search-box-container .search-inputs .react-datepicker__month-dropdown,
.Container .search-box-container .search-inputs .react-datepicker__year-dropdown {
  background-color: #333;
  color: white;
}
.Container .search-box-container .search-inputs .react-datepicker__day:hover {
  border-radius: 50%;
  background-color: lightgrey;
}
.Container .search-box-container .search-inputs .react-datepicker__navigation--previous,
.Container .search-box-container .search-inputs .react-datepicker__navigation--next {
  top: 12px;
  border-color: white;
}
.Container .search-box-container .search-inputs .calendar {
  border: 1px solid rgb(209, 209, 209);
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 1px;
  position: relative;
  top: -40px;
  left: 25px;
}
.Container .search-box-container .search-inputs .calendar :focus {
  outline: none;
}
.Container .searched-flights-container {
  width: 80vw;
  height: -moz-fit-content;
  height: fit-content;
  margin: 80px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
.Container .searched-flights-container .controller {
  height: -moz-fit-content;
  height: fit-content;
  width: 300px;
  position: sticky;
  align-items: center;
  padding-bottom: 10px;
}
.Container .searched-flights-container .controller .controller-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 5px;
}
.Container .searched-flights-container .controller .controller-container .filter-flights {
  padding-top: 10px;
  width: 100%;
  font-size: 14px;
  color: rgb(48, 48, 48);
}
.Container .searched-flights-container .controller .controller-container .filter-flights .ct-title {
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin: 10px 0px 10px 20px;
}
.Container .searched-flights-container .controller .controller-container .filter-flights .flight-count {
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
.Container .searched-flights-container .controller .controller-container .filter-flights .flight-filter-box {
  padding: 10px 20px;
}
.Container .searched-flights-container .controller .controller-container .filter-flights .flight-filter-box .carrier {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  justify-content: start;
  gap: 10px;
}
.Container .searched-flights-container .controller .controller-container .filter-flights .flight-filter-box .carrier input {
  cursor: pointer;
}
.Container .searched-flights-container .controller .sort-by-price-container {
  margin-top: 10px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 5px;
}
.Container .searched-flights-container .controller .sort-by-price-container .sp-title {
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
.Container .searched-flights-container .controller .sort-by-price-container .radio-sort {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  margin-bottom: 5px;
}
.Container .searched-flights-container .controller .sort-by-price-container .radio-sort .lb2 {
  color: rgba(0, 0, 0, 0.5);
}
.Container .searched-flights-container .flights {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  font-family: "Roboto";
}
.Container .searched-flights-container .flights .flight {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px 0px 15px 0px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px 1px rgba(51, 51, 51, 0.1);
  transition: all 0.4s ease-in-out;
}
.Container .searched-flights-container .flights .flight .carrier-info {
  display: flex;
  flex-direction: row;
}
.Container .searched-flights-container .flights .flight .carrier-info .carriers {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(71, 71, 71, 0.185);
}
.Container .searched-flights-container .flights .flight .carrier-info .carriers .each-carrier {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px 10px 20px 20px;
  row-gap: 0px;
}
.Container .searched-flights-container .flights .flight .carrier-info .carriers .each-carrier .carrier-company {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
}
.Container .searched-flights-container .flights .flight .carrier-info .carriers .each-carrier .carrier-company .carrier-name {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #272727;
}
.Container .searched-flights-container .flights .flight .carrier-info .carriers .each-carrier .carrier-company .carrier-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid rgba(204, 167, 167, 0.226);
  /* Hide anything that goes outside the circle */
}
.Container .searched-flights-container .flights .flight .carrier-info .carriers .each-carrier .carrier-company .carrier-logo img {
  width: 28px;
  height: 28px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Container .searched-flights-container .flights .flight .carrier-info .carriers .each-carrier .carrier-model {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-left: 33px;
  margin-top: -15px;
  color: rgba(61, 61, 61, 0.729);
  padding: 2px 2px;
  border-radius: 50px;
}
.Container .searched-flights-container .flights .flight .carrier-info .pricing {
  width: 300px;
  height: 70px;
  border-bottom: 1px solid rgba(71, 71, 71, 0.185);
  text-align: right;
  line-height: 68px;
  font-weight: 700;
  color: #424242;
  padding-right: 25px;
  font-size: 18px;
  font-family: sans-serif;
}
.Container .searched-flights-container .flights .flight .carrier-info .pricing .price {
  font-family: sans-serif;
  font-size: 30px;
  color: rgb(27, 27, 27);
  font-weight: bold;
}
.Container .searched-flights-container .flights .flight .facilities-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 5px 5px 0px rgba(51, 51, 51, 0.1);
}
.Container .searched-flights-container .flights .flight .facilities-info .left-facilities {
  display: flex;
  flex-direction: row;
  color: rgba(12, 53, 65, 0.705);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 13px;
}
.Container .searched-flights-container .flights .flight .facilities-info .left-facilities .checked-bags {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 10px 25px;
}
.Container .searched-flights-container .flights .flight .facilities-info .left-facilities .checked-bags .icon {
  font-size: 14px;
  margin-right: 5px;
  margin-top: 2px;
}
.Container .searched-flights-container .flights .flight .facilities-info .left-facilities .dot-gray {
  height: 7px;
  width: 7px;
  border-radius: 100%;
  background-color: rgba(71, 71, 71, 0.233);
  margin: 15px 10px;
}
.Container .searched-flights-container .flights .flight .facilities-info .left-facilities .layover-count {
  margin-top: 10px;
}
.Container .searched-flights-container .flights .flight .facilities-info .left-facilities .layover-duration-total {
  margin-top: 10px;
}
.Container .searched-flights-container .flights .flight .facilities-info .right-facilities {
  color: rgba(12, 53, 65, 0.705);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 13px;
  margin-right: 25px;
  margin-top: 10px;
}
.Container .searched-flights-container .flights .flight .itineraries-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 25px;
  margin-top: 10px;
  height: 170px;
}
.Container .searched-flights-container .flights .flight .itineraries-data .left-iti {
  width: 200px;
  /*.departure-info {
      .depart-title {
          font-size: 18px;
          font-weight: 600;
          color: rgba(0, 0, 0, 1);
      }
      .depart-date {
          font-size: 18px;
          margin-left: 10px;
          font-weight: 600;
          color: rgb(3, 0, 151);
      }
  }*/
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}
.Container .searched-flights-container .flights .flight .itineraries-data .left-iti .departure-airport {
  font-size: 42px;
  font-weight: 600;
  color: rgb(3, 0, 151);
}
.Container .searched-flights-container .flights .flight .itineraries-data .left-iti .departure-date {
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.Container .searched-flights-container .flights .flight .itineraries-data .left-iti .departure-time {
  font-size: 20px;
  font-weight: 600;
  color: rgb(129, 0, 71);
}
.Container .searched-flights-container .flights .flight .itineraries-data .middle-iti {
  width: 100%;
}
.Container .searched-flights-container .flights .flight .itineraries-data .middle-iti .icon {
  position: relative;
  top: -42%;
  rotate: 90deg;
  color: rgb(161, 161, 161);
  margin-left: 47%;
}
.Container .searched-flights-container .flights .flight .itineraries-data .middle-iti .visual-flight-meta-data {
  display: flex;
  flex-direction: row;
}
.Container .searched-flights-container .flights .flight .itineraries-data .middle-iti .visual-flight-meta-data .line {
  border-top: 2px dotted rgb(161, 161, 161);
  margin: 70px auto;
  width: 99%;
}
.Container .searched-flights-container .flights .flight .itineraries-data .middle-iti .visual-flight-meta-data .left-dot {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  margin-top: 67px;
  background-color: rgb(161, 161, 161);
}
.Container .searched-flights-container .flights .flight .itineraries-data .middle-iti .visual-flight-meta-data .right-dot {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  margin-top: 67px;
  background-color: rgb(161, 161, 161);
}
.Container .searched-flights-container .flights .flight .itineraries-data .total-flight-duration {
  margin-top: -95px;
  text-align: center;
  color: rgba(44, 44, 44, 0.7254901961);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Container .searched-flights-container .flights .flight .itineraries-data .right-iti {
  width: 200px;
  /*.departure-info {
      .depart-title {
          font-size: 18px;
          font-weight: 600;
          color: rgba(0, 0, 0, 1);
      }
      .depart-date {
          font-size: 18px;
          margin-left: 10px;
          font-weight: 600;
          color: rgb(3, 0, 151);
      }
  }*/
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
}
.Container .searched-flights-container .flights .flight .itineraries-data .right-iti .departure-airport {
  font-size: 42px;
  font-weight: 600;
  color: rgb(3, 0, 151);
}
.Container .searched-flights-container .flights .flight .itineraries-data .right-iti .departure-date {
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.Container .searched-flights-container .flights .flight .itineraries-data .right-iti .departure-time {
  font-size: 20px;
  font-weight: 600;
  color: rgb(129, 0, 71);
}
.Container .searched-flights-container .flights .flight .details {
  height: -moz-fit-content;
  height: fit-content;
  width: 95%;
  margin: 0px auto 30px auto;
}
.Container .searched-flights-container .flights .flight .details .carrier-detail {
  height: 50px;
  padding: 10px 0px;
  border-top: 1px dotted gray;
}
.Container .searched-flights-container .flights .flight .details .carrier-detail .company {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.Container .searched-flights-container .flights .flight .details .carrier-detail .company .logo {
  height: 40px;
  width: 40px;
}
.Container .searched-flights-container .flights .flight .details .carrier-detail .company .name {
  font-size: 15px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-left: 2px;
  margin-top: -20px;
}
.Container .searched-flights-container .flights .flight .details .carrier-detail .model {
  font-size: 12px;
  font-weight: 500;
  margin-left: 42px;
  margin-top: -25px;
  width: -moz-fit-content;
  width: fit-content;
}
.Container .searched-flights-container .flights .flight .details .travel-detail {
  height: 130px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 70px;
}
.Container .searched-flights-container .flights .flight .details .travel-detail .demographic {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid rgba(0, 38, 119, 0.1843137255);
  color: #002677;
  padding: 10px;
  border-radius: 5px;
  flex-basis: 15%;
}
.Container .searched-flights-container .flights .flight .details .travel-detail .demographic .airport-code {
  font-size: 30px;
  font-weight: 600;
}
.Container .searched-flights-container .flights .flight .details .travel-detail .demographic .terminal {
  font-size: 12px;
  font-weight: 500;
}
.Container .searched-flights-container .flights .flight .details .travel-detail .visual {
  height: 100%;
  width: 100px;
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Container .searched-flights-container .flights .flight .details .travel-detail .visual .icon {
  position: relative;
  rotate: 90deg;
  left: 40px;
  top: 27.9px;
  height: 20px;
  width: 20px;
  z-index: 10;
  color: rgb(40, 0, 184);
  background-color: white;
}
.Container .searched-flights-container .flights .flight .details .travel-detail .visual .lineJourney {
  height: 1.5px;
  width: 100px;
  position: relative;
  top: -20px;
  background-color: #002677;
  margin-top: 30px;
}
.Container .searched-flights-container .flights .flight .details .travel-detail .departure {
  align-items: start;
}
.Container .searched-flights-container .flights .flight .details .travel-detail .arrival {
  align-items: end;
}
.Container .searched-flights-container .flights .flight .details .travel-detail .bags {
  flex-basis: 22%;
  text-align: start;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  background: rgba(255, 139, 71, 0.231372549);
}
.Container .searched-flights-container .flights .flight .details .travel-detail .bags .title-bags {
  color: rgba(105, 39, 0, 0.6509803922);
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 8px;
}
.Container .searched-flights-container .flights .flight .details .travel-detail .bags .title-bags .icon {
  font-size: 20px;
  margin-right: 5px;
  margin-top: 2px;
}
.Container .searched-flights-container .flights .flight .details .travel-detail .bags .baggage {
  color: rgba(105, 39, 0, 0.6509803922);
  font-size: 30px;
  text-align: center;
  padding-top: 18px;
  font-weight: bold;
}
.Container .searched-flights-container .flights .flight .operation-buttons {
  width: 100%;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -25px;
  margin-left: 25px;
  color: rgb(0, 81, 255);
  transition: all 0.4s ease-in-out;
}
.Container .searched-flights-container .flights .flight .operation-buttons .operation-button {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}
.Container .searched-flights-container .flights .flight .operation-buttons .operation-button .icon {
  margin-top: 5px;
  font-size: 25px;
}
.Container .searched-flights-container .flights .flight .operation-buttons .operation-button:hover {
  color: rgb(67, 127, 255);
}
.Container .searched-flights-container .flights .flight .operation-buttons .operation-button:hover .icon {
  animation: operation-button-icon-animate 0.5s ease-in-out infinite;
}
.Container .searched-flights-container .flights .flight .operation-buttons .select-button {
  font-size: 12px;
  height: 28px;
  width: 80px;
  text-align: center;
  border-radius: 2px;
  color: rgb(0, 81, 255);
  padding: 5px;
  font-weight: 600;
  border: 1px solid rgb(0, 81, 255);
}
.Container .searched-flights-container .flights .flight .operation-buttons .select-button:hover {
  background-color: rgb(14, 90, 255);
  color: white;
  cursor: pointer;
}

.passengerAndClassDropdown {
  position: absolute;
  width: 400px;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 15px;
  left: 0;
  top: 90px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  border-radius: 15px;
}/*# sourceMappingURL=searchPage.css.map */